@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Raleway:wght@500&display=swap");

* {
	font-family: "Mooli", sans-serif !important;
	font-family: "Raleway", sans-serif !important;
}

html{
  background-color: azure;
}

.blue-button{
	background-color: #0f172a !important;
	color: azure !important;
}

.blue-link{}